@import url('https://fonts.googleapis.com/css?family=Wallpoet');

body {
    margin: 30px auto;
    text-align: center;
    background-color: greenyellow;
    color: dodgerblue;
    font-size: 2em;
    font-family: 'Wallpoet', cursive;
}